

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(72, 72, 218, 0.966);
    color: #fff;
    padding: 0 6rem 2.5rem 6rem;
}
.header img{
    width: 25px;
    color: #fff;
}
.card{
    padding: 1.5rem;
    background-color: #fff;
    margin-top: 2.5rem;
    position: relative;
    border-radius: .3rem;
}

.card .logo{
    padding: 1rem .1rem;
    border-radius: .8rem;
    position: absolute;
    top: -1.5rem;
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

p{
    display: flex;
    gap: .8rem;
    color: rgba(100, 100, 124, 0.822);
    font-weight: 500;
    font-size: 1.1rem;
}

span:nth-child(2){
    font-weight:1000;
}

.location{
    margin-top: 2.5rem;
}
.location p{
    color:rgb(17, 17, 219) ;
   font-size: 1rem;
}

.button button{
    padding: .8rem 1.5rem;
    background-color:rgb(71, 71, 228) ; 
    color: #fff;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
}

.button{
    display:flex ;
    justify-content: center;
    align-items: center;
}

