*{
  padding: 0;
}

.App{
  margin: 0 auto;
  background-color: rgb(231, 231, 231);
  padding-bottom: 3.5rem;
  
}

.card-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 6rem 6rem 2.5rem 6rem;
  gap: 2rem;
}